@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600&display=swap');


:root {
  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.8); 
}

* {
  box-sizing: border-box;
}

body {
  background: rgb(49,253,45);
  background: linear-gradient(0deg, rgba(49,253,45,1) 0%, rgba(34,195,166,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.container {
  border-radius: 15px;
  padding: 30px;
  margin: 20px auto;
  width: 400px;
  background: rgb(255, 255, 255);
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #2e75cc;
}

h2{
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 2.5em;
  margin: 0 auto;
  padding-top: 20px;
  text-transform: uppercase;
}

h3 {
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-bottom: 2px;
  margin: 40px auto 0 auto;
  letter-spacing: 2px;
  font-weight: lighter;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #2ecc71;
  letter-spacing: 2px;
}

.money.minus {
  color: #c0392b;
  letter-spacing: 2px;
}

label {
  display: inline-block;
  margin: 20px auto 0 auto;
  font-weight: bolder;
  font-size: 1.2em;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #c2c0c0;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  outline: none;
}

.btn {
  cursor: pointer;
  background-color: #2E75CC;
  box-shadow: var(--box-shadow);
  color: #fff;
  display: flex;
  justify-content: center;
  outline: none;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 3px;
  margin: 28px auto 0 auto;
  padding: 15px;
  width: 80%;
  height: 50px;
  transition: 0.2s;
}

.btn:hover{
  background-color: #004191 ;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}

.transactions {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.transactions li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.transactions li.plus {
  border-right: 5px solid #2ecc71;
}

.transactions li.minus {
  border-right: 5px solid #c0392b;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.transactions li:hover .delete-btn {
  opacity: 1;
}

.footer-bottom{
  background: black;
  width: 99.5vw;
  padding: 5px 0;
  text-align: center;
}

.footer-bottom p{
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: smaller;
  letter-spacing: 2.5px;
}

.footer-bottom a{
  text-decoration: none;
  color: rgb(179, 179, 179);
}

.footer-bottom a:hover{
  color: rgb(0, 25, 247);
}

.footer-bottom span{
  font-size: 0.7em;
}
